@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');


$main-dark-color: #0D0D0D;
$main-light-color: #D1B89D;
$second-dark-color: #152540;
$main-light-dark-color: #DDE6F5;

@mixin fonts($color, $f-size, $f-weight, $l-height){
    @if $color == $main-dark-color{
        color: $main-dark-color;
    }@else if $color == $main-light-color{
        color: $main-light-color;
    }@else if $color == $main-light-dark-color{
        color: $main-light-dark-color;
    }@else if $color == $second-dark-color{
        color: $second-dark-color;
    }@else{
        opacity: #0d0d0d99;
    }
    font-family: 'Poppins', sans-serif;
    font-size: $f-size;
    font-weight: $f-weight;
    line-height: $l-height;
}

@mixin fonts($f-pad, $color, $f-size, $f-weight, $l-height){
    padding: $f-pad;
    @if $color == $second-dark-color{
        background-color: $second-dark-color;
        color: #fff;
    }@else if $color == $main-light-color{
        background-color: $main-light-color;
        color: #EFDAC3;
    }@else{
        opacity: #0d0d0d99;
    }
    font-family: 'Poppins', sans-serif;
    font-size: $f-size;
    font-weight: $f-weight;
    line-height: $l-height;
}