@import '../global';

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0;
    h1 {
      @include font("light", 25px, -weight, -style, -height);
    }
    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 42px;
      a {
        @include font("dark", 16px, 400, -style, 144.4%);
        opacity: 1;
      }

    }
  }
  
  .hero {
    img {
      width: 100%;
      border-radius: 20px;
    }
    .search {
      width: 70%;
      background-color: #fff;
      margin: 0 auto;
      padding: 30px 73px;
      border-radius: 15px;
      margin-top: -80px;
      position: relative;
      box-shadow: 0px 4px 77px 0px #00000040;
      h2 {
        @include font("light", 32px, -weight, -style, -height);
        text-align: center;
        margin-bottom: 10px;
      }
    }
    form {
      display: flex;
      gap: 14px;
      input {
        @include font("dark", 16px, -weight, -style, -height);
        @include button(10px 20px, "dark", none);
        border-radius: 15px;
        flex-grow: 1;
        outline: none;
        background-color: #f5f5f5;
      }
      button {
        @include font("", 16px, -weight, -style, -height);
        @include button(12px 42px, "warning", none);
        border-radius: 15px;
      }
    }
  }
  
  .all-categories {
    margin: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    h2 {
      @include font("light", 32px, -weight, -style, -height);
      margin-bottom: 22px;
    }
    ul {
      display: flex;
      align-items: center;
      gap: 54px;
      @include font("dark", 16px, -weight, -style, -height);
      opacity: 0.5;
      margin-bottom: 40px;
    }
  
    .categories__items {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 24px 20px;
      .category_item {
          border-radius: 22px;
          overflow: hidden;
          background-color: #F5F5F5;
          div {
          h3 {
            @include font("dark", 24px, -weight, -style, -height);
            margin-bottom: 10px;
          }
          p {
            @include font("dark", 16px, -weight, -style, -height);
            opacity: 0.5;
          }
          padding: 12px 12px 64px 16px;
        }
      }
    }
  }
  